.rodape{
    color: var(--cinza);
    width: 100%;
    display: block;
    text-align: center;
    padding: 10px;
    font-size: 1em;
    background-color: var(--azulClaro);
    border-top: 0.1px solid var(--primeira);
    text-decoration: none;
    margin-top: 10px;
}

.rodape > a{
    color: var(--segunda);
}