.rodape{
    display: flex;
    justify-content: center;
    color: var(--cinza);
    padding: 10px;
    font-size: 1em;
    background-color: var(--azulClaro);
    border-top: 0.1px solid var(--primeira);
    text-decoration: none;
}

.rodape > a{
    color: var(--quarta);
}