.headerOption {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    color: var(--quinta);
    cursor: pointer;
}

.header__right a:nth-of-type(2) > .headerOption {
    color: var(--cursos);
}

.header__right a:nth-of-type(3) > .headerOption{
    color: var(--vagas);
}

.header__right a:nth-of-type(4) > .headerOption{
    color: var(--network);
}

.headerOption__title{
    font-size: 0.5em;
    font-weight: 400;
}

.headerOption__icon{
    object-fit: contain;
    height: 25px !important;
    width: 25px !important;
}


