.inputOption {
    display: flex;
    align-items: center;
    color: var(--cinza);
}

.container__buttons{
    display: flex;
    justify-content: space-evenly;
}


.inputOption >h4 {
    margin-left: 5px;
    
}