.vagas {
    padding: 20 0px;
    margin: 0 auto;
    width: 80%;
}

.vagas__inputContainer {
    border-radius: 10px;
    margin-bottom: 20px;
    height: fit-content;
    padding: 10px;
    padding-bottom: 20px;
}

.container__cabecalhoVagas{
    display: flex;
    justify-content: space-between;
}

.vagas__input {
    display: flex;
    background-color: var(--branco);
    margin: 20px;
    border: 1px solid var(--terceira);
    border-radius: 30px;
    display: flex;
    padding: 10px;
    color: var(--cinza);
    padding-left: 15px;
    width: 70%;
    height: 200px;
}

.vagas__input>form {
    display: flex;
    width: 100%;
}

.vagas__input>form>input {
    background-color: var(--vagas);
    border: none;
    width: 100%;
    font-weight: 600;
    margin-left: 10px;
    outline-width: 0;
    text-align: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
    border-radius: 15px;
}

.vagas__input>form>button {
    display: none;
}

.vagas__inputOptions {
    display: flex;
    justify-content: center;
}

.imgVagas{
    display: flex;
    width: 200px !important;
    padding: 25px;
    margin: 0 auto;
    border-radius: 50%;
}