.headerOption {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    color: var(--quinta);
    cursor: pointer;
}

.headerOption:nth-child(2){
    color: var(--cursos);
}

.headerOption:nth-child(3){
    color: var(--vagas);
}

.headerOption:nth-child(4){
    color: var(--network);
}

.headerOption__title{
    font-size: 0.5em;
    font-weight: 400;
}

.headerOption__icon{
    object-fit: contain;
    height: 25px !important;
    width: 25px !important;
}

.headerOption:hover{
    color: var(--terceira);
}

