* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

:root {

  --primeira: #b3e5ff;
  /* _verdeClaro_ */
  --segunda: #05676e;
  /* _ _ */
  --terceira: #a1c1be;
  /* _azulClaro_ */
  --quarta: #a8636e;
  /* _rosaClaro_ */
  --quinta: #ffe3b3;
  /* __ */
  --sexta: #b9113f;
  /* _rosaEscuro_ */
  --setima:#ffffe0;

  --branco: #fafafa;
  --cinza: #59554e;
  --preto: #000;

  --cursos: #6cbdb5;
  --vagas: #e7a;
  --network: #70B5;

}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif, 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Poppins', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}