* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

:root {
  --branco: #fafafa;
  --rosaEscuro: #a8636e;
  --rosaClaro: #ffe3b3;
  --azulClaro: #a1c1be;
  --azulEscuro: #05676e;
  --verdeClaro: #6cbdb5;
  --cinza: #59554e;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif, 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Poppins', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}