*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

:root{
--rosaEscuro: #b9113f;
--rosaClaro: #ffe3b3;
--roxoClaro: #a8636e;
--roxoEscuro: #4d1d4d;
--azulClaro: #a1c1be;
--azulEscuro: #05676e;
--cinza: #59554e;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif, 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Poppins', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
